{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mycontent">
  <div class="jumbotron">

<h1>THE MATCH</h1>
<h5>BUILD | PLAY | UNITE</h5>
<div class="container">
  <img src="{% static "match/images/match2.jpg" %}" alt="">
</div><br>
<p>THE MATCH! This is a official website for Football Players.</p>
<p>The site allows you to create football matches between friends in your
  locality or even in other areas. The team organiser can organize
  the match with other teams by making a schedule. A team can be created by going
  to the SignUp page, Each team will be under unique user name. So
  Build your team, play the match and unite with more people.</p>
  <h6>Let THE MATCH break your boundaries and limits!.</h6>

</div>
</div>

{% endblock %}
